# Scraping female artists

I want to find out if there are more female artists nowerdays.
Therefore I need a list of female artists to add another column (gender) to the dr artist csv.

In [3]:
# importing needed libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests

In [2]:
# importing data

dr_artists = pd.read_csv('../data/dr_artist_name_id_df.csv')

In [4]:
# urls I want to scrape

url1 = 'https://www.tonspion.de/news/die-20-besten-deutschen-rapperinnen'
url2 = 'https://www.br.de/radio/bayern2/sendungen/zuendfunk/diese-vierzehn-female-mcs-muesst-ihr-kennen-rap-hip-hop-german-rnb-100.html'
url3 = 'https://www.musikexpress.de/frauen-im-deutschrap-1301833/'
url4 = 'https://www.delamar.de/musikbusiness/deutsche-rapperinnen-53024/'

In [5]:
response1 = requests.get(url1)
response2 = requests.get(url2)
response3 = requests.get(url3)
response4 = requests.get(url4)

In [6]:
# lets make it a bit more readable

soup1 = BeautifulSoup(response1.content, 'html.parser')
soup2 = BeautifulSoup(response2.content, 'html.parser')
soup3 = BeautifulSoup(response3.content, 'html.parser')
soup4 = BeautifulSoup(response4.content, 'html.parser')

In [15]:
# getting the artist name

soup1.select('strong')[0].text

'addeN'

In [18]:
female_artists1 = []

for artist in range(len(soup1.select('strong'))):
    female_artists1.append(soup1.select('strong')[artist].text)

In [46]:
soup2.select('h2')[6].text

'1. Die P'

In [49]:
female_artists2 = []

for artist in range(len(soup2.select('h2'))):
    female_artists2.append(soup2.select('h2')[artist].text)

In [60]:
soup3.select('h3')[5].text

'Antifuchs'

In [62]:
female_artists3 = []

for artist in range(len(soup3.select('h3'))):
    female_artists3.append(soup3.select('h3')[artist].text)

In [63]:
soup4.select('h3')[5].text

'Lumaraa'

In [65]:
female_artists4 = []

for artist in range(len(soup4.select('h3'))):
    female_artists4.append(soup4.select('h3')[artist].text)

In [66]:
female_artists = female_artists1 + female_artists2 + female_artists3 + female_artists4

In [71]:
for i in range(len(female_artists)):
    female_artists[i] = female_artists[i].lower()

In [86]:
female_artists = [
 'ebow',
 'eunique',
 'katja krasavice',
 'leila akinyi',
 'lumaraa',
 'antifuchs',
 'pyranya',
 'ace tee',
 'fanstasma goria',
 'namika',
 'sabrina setlur',
 'haiyti',
 'loredana',
 'sookee',
 'shirin david',
 'katja krasavice',
 'kitty kat','kitty kat',
 'leila akinyi',
 'lumaraa',
 'nura',
 'pilz',
 'schwesta ewa',
 'shirin david',
 'sookee / sukini',
 'taiga trece',
 'aylo',
 'die p',
 'fantasma goria',
 'hava',
 'layla',
 'mine',
 'sly vee',
 'toni strange',
 'xiara','haszcara',
 'juju','nura','haiyti','éasy',
 'eunique','badmomzjay',
 'ebow', 'badmomzjay','adden',
 'antifuchs','ace tee','die p',
 'badmómzjay',
 'yael',
 'alyssa',
 'layla',
 'eunique',
 'genuva',
 'ace tee',
 'ebow',
 'azisa',
 'babyjoy',
 'haszcara',
 'presslufthanna','die p',
 'badmómzjay',
 'yael',
 'alyssa',
 'layla',
 'eunique',
 'genuva',
 'ace tee',
 'ebow',
 'azisa',
 'babyjoy',
 'haszcara',
 'presslufthanna','adden',
 'aylo',
 'badmómzjay',
 'cora e.',
 'die p',
 'ebow',
 'eunique',
 'haszcara',
 'hava',
 'juju',
 'layla',
 'loredana',
 'lumaraa',
 'nura',
 'pilz',
 'pyranja',
 'schwesta',
 'shirin david',
 'sookee',
 'xiara']

In [92]:

female_artists_clean = []

for i in female_artists:
    if i not in female_artists_clean:
        female_artists_clean.append(i)
        
female_artists_clean.sort()

In [99]:
len(female_artists_clean)

45

In [104]:
# import data

dr_albums = pd.read_csv('../data/dr_sample/dr_albums_id_title_release.csv')

In [109]:
dr_albums.tail()

,Unnamed: 0,id,album_name,album_artist,album_release_date,gender
1612,1612,05AUajtuvqig0rOSsiKcaa,lieder (deluxe version),adel tawil,2013-11-08,male
1613,1613,4nqKPTaD2l41GWPwc9KbO2,sampler volume 1,steuerfreimoney,2018-10-26,male
1614,1614,7DJh8lMZtqcQPBFme34TcD,bounce,jazn,2020-08-07,male
1615,1615,1K7r5jgTdhhs48CGxADMnr,28° (instrumentals),jazn,2018-11-23,male
1616,1616,2FWekUfvrwLmUUpLDAFaUG,28°,jazn,2018-11-23,male

In [106]:
# make everything lowercaseto fit the dr female artist list

dr_albums['album_name'] = dr_albums['album_name'].str.lower()
dr_albums['album_artist'] = dr_albums['album_artist'].str.lower()

In [116]:
# creating new feature gender

dr_albums['gender'] = 0

for artist in female_artists_clean:
    for i in range(len(dr_albums)):
        if artist in dr_albums.loc[i,'album_artist']:
            dr_albums.loc[i, 'gender'] = 'female'
            
dr_albums['gender'].unique()

array([0, 'female'], dtype=object)

In [117]:
dr_albums['gender'].value_counts()

0         1526
female      91
Name: gender, dtype: int64

In [119]:
for i in range(len(dr_albums)):
    if dr_albums.loc[i,'gender'] == 0:
        dr_albums.loc[i, 'gender'] = 'male'

In [120]:
dr_albums['gender'].value_counts()

male      1526
female      91
Name: gender, dtype: int64

In [121]:
dr_albums.head()

,Unnamed: 0,id,album_name,album_artist,album_release_date,gender
0,0,1JS7FPcgEOTdwxWfPSJewS,plata o plomo,reda rwena,2021-05-07,male
1,1,5LU3reJk8s1oFQFlV6mjOC,der tijarist,reda rwena,2018-11-16,male
2,2,1PBDSkiNWU1bnSKKAU8y5P,not over yet,grace,2020-05-08,male
3,3,5iptgDjsrSyf7XkJWbcoMe,down to earth (remixes),grace,2020-04-24,male
4,4,0asBvC8WrcVrNLZ5YkXI66,if i could fly,grace,1996-01-01,male

In [122]:
# save data

dr_albums.to_csv('../data/gender/dr_albums_gender.csv')

### same thing for dr songs in top100

In [123]:
# import data

top100_tracks = pd.read_csv('../data/top100/top100_tracks_V3.csv')

In [124]:
top100_tracks.head()

,Unnamed: 0,artist,title,label,rank,week_start,week_end,genre,year,month
0,0,nathan evans,wellerman,polydor,1,07.05.2021,13.05.2021,NaN,2021,5
1,1,cro feat. capital bra,blessed,urban,2,07.05.2021,13.05.2021,deutschrap,2021,5
2,2,jamule,liege wieder wach,life is pain,3,07.05.2021,13.05.2021,deutschrap,2021,5
3,3,riton x nightcrawlers feat. mufasa & hypeman,friday (dopamine re-edit),columbia,4,07.05.2021,13.05.2021,NaN,2021,5
4,4,lil nas x,montero (call me by your name),columbia,5,07.05.2021,13.05.2021,hiphop,2021,5

In [127]:
# creating new feature gender

top100_tracks['gender'] = 0

for artist in female_artists_clean:
    for i in range(len(top100_tracks)):
        if artist in top100_tracks.loc[i,'artist']:
            top100_tracks.loc[i, 'gender'] = 'female'
            
for i in range(len(top100_tracks)):
    if top100_tracks.loc[i,'gender'] == 0:
        top100_tracks.loc[i, 'gender'] = 'male'

top100_tracks['gender'].value_counts()

male      58036
female     1364
Name: gender, dtype: int64

In [128]:
top100_tracks.head()

,Unnamed: 0,artist,title,label,rank,week_start,week_end,genre,year,month,gender
0,0,nathan evans,wellerman,polydor,1,07.05.2021,13.05.2021,NaN,2021,5,male
1,1,cro feat. capital bra,blessed,urban,2,07.05.2021,13.05.2021,deutschrap,2021,5,male
2,2,jamule,liege wieder wach,life is pain,3,07.05.2021,13.05.2021,deutschrap,2021,5,male
3,3,riton x nightcrawlers feat. mufasa & hypeman,friday (dopamine re-edit),columbia,4,07.05.2021,13.05.2021,NaN,2021,5,male
4,4,lil nas x,montero (call me by your name),columbia,5,07.05.2021,13.05.2021,hiphop,2021,5,male

In [129]:
# save data

top100_tracks.to_csv('../data/gender/top100_tracks_gender.csv')